<div class="grid grid-cols-12 gap-4 text-white xl:gap-y-8">
  <div class="col-start-2 col-end-12 h-8 text-4xl font-bold"></div>
  <div class="hidden col-start-1 col-end-4 xl:flex items-center xl:mb-12 xl:col-start-2">
    <div class="bg-secondary h-1 w-full"></div>
  </div>
  <div
    class="col-start-2 col-end-12 text-4xl font-bold xl:text-6xl xl:text-center xl:col-start-4 xl:col-end-10 xl:mb-12">
    About
    me
  </div>
  <div class="hidden col-start-10 col-end-13 xl:flex items-center xl:mb-12 xl:col-end-12">
    <div class="bg-secondary h-1 w-full"></div>
  </div>
  <div class="col-start-2 col-end-12 text-sm xl:text-base text-justify">{{ aboutMeText.en}}</div>



  <div *ngFor="let thing of personalThingEn; let i = index"
    class="col-start-2 col-end-12 text-sm  grid grid-cols-12 gap-4 xl:text-base ">
    <div *ngIf="i%2 == 0 " class="row-start-1 row-span-full col-start-1 col-end-3 flex justify-center items-center"><img
        src="assets/img/lightbulb2.png">
    </div>
    <div *ngIf="i%2 != 0 " class="row-start-1 row-span-full col-start-1 col-end-3 flex justify-center items-center"><img
        src="assets/img/puzzle2.png">
    </div>
    <div class="row-start-1 row-span-full col-start-4 col-end-13 flex items-center">{{ thing }}</div>
  </div>

</div>