.writingMode-b-rl {
  writing-mode: tb-rl;
}

.text-xsl {
  font-size: 1.3rem;
}

.fulljustify {
  text-align: justify;
}
.fulljustify:after {
  content: "";
  display: inline-block;
  width: 100%;
}
